<footer class="footer">
    <!-- Coluna de Serviços -->
    <div class="footer-column">
      <h3 class="footer-title">Serviços</h3>
      <ul class="footer-list">
        <li><a href="#" class="footer-link">Conta corrente</a></li>
        <li><a href="#" class="footer-link">Conta PJ</a></li>
        <li><a href="#" class="footer-link">Cartão de crédito</a></li>
      </ul>
    </div>
  
    <!-- Coluna de Contato -->
    <div class="footer-column">
      <h3 class="footer-title">Contato</h3>
      <p class="footer-contact">0800 000 123 45</p>
      <p class="footer-contact">meajuda@bytebank.com.br</p>
      <p class="footer-contact">cvc@bytebank.com.br</p>
    </div>
  
    <!-- Coluna Desenvolvido por Alura -->
    <div class="footer-column">
      <h3 class="footer-title">Desenvolvido por Alura</h3>
      <img src="../../../assets/imagens/Logo-branco.png" alt="Logo Bytebank" class="logo-branco">
      <div class="social-links">
        <a href="#"><img src="assets/imagens/instagram.png" alt="Instagram" class="social-icon"></a>
        <a href="#"><img src="assets/imagens/whatsapp.png" alt="WhatsApp" class="social-icon"></a>
        <a href="#"><img src="assets/imagens/youtube.png" alt="YouTube" class="social-icon"></a>
      </div>
    </div>
  </footer>
  