<header class="header">
  <!-- Logo -->
  <div class="logo">
    <img src="../../../assets/imagens/Logo.png" alt="Bytebank Logo" class="logo-image" id="logo">
    <img src="../../../assets/imagens/Logo-signo.png" alt="Logo Mobile" class="logo-image logo-mobile" id="logo-mobile">
  </div>

  <!-- Navegação -->
  <nav class="nav">
    <a href="#" class="nav-link">Sobre</a>
    <a href="#" class="nav-link">Serviços</a>
  </nav>

  <!-- Botões -->
  <div class="buttons">
    <button class="btn primary-btn">Abrir minha conta</button>
    <button class="btn secondary-btn" (click)="navigate()">Já tenho conta</button>
  </div>


  <div class="hamburger-menu" id="hamburgerMenu">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>

  <!-- Menu Lateral (side menu) -->
  <div class="side-menu" id="sideMenu">
    <div class="close-btn" id="closeMenu">X</div>
    <div class="links-nav">
    <a href="#" class="nav-link">Sobre</a>
    <a href="#" class="nav-link">Serviços</a>
    <button class="btn primary-btn">Abrir minha conta</button>
    <button class="btn secondary-btn">Já tenho conta</button>
    </div>
  </div>
</header>
