<div class="page-da">
  <app-header-user />
  <div class="container">
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 menu">
          <app-side-bar></app-side-bar>
        </div>
        <div class="col">
          <app-card-center></app-card-center>
          <app-card-my-cards></app-card-my-cards>

        </div>
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 menu-extract">
          <app-extract-menu></app-extract-menu>
        </div>
      </div>
    </div>
  </div>
</div>
